body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

    padding: 5%;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 1%;
    border-radius: 35%;
}

a:hover {
    background-color: black;
    color: white;
}

.dairy {
    color: rgb(8, 91, 199);
}

.fruits {
    color: rgb(206, 4, 121);
}

.vegetables {
    color: rgb(47, 88, 6);
}

.grains {
 color: rgb(116, 111, 47);
}

.protein {
    color: sienna;
}

.fats {
    color: slateblue;
}

.seasoning {
    color: sandybrown;
}

.condiments {
    color: rgb(185, 109, 42);
    -webkit-text-stroke: .5px sienna;
}

.other {
    color: slategray;
}