body {
    background-color: pink;
    font-family: 'Koh Santepheap', Arial, Helvetica, sans-serif;
    font-weight: 700;

    padding: 5%;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    list-style-type: none;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
}

a {
    text-decoration: none;
    background-color: white;
    color: black;
    
    padding: 10px;
    border-radius: 20px;
}

a:hover {
    background-color: black;
    color: white;
}

button {
    margin-left: 8px;
}

.logo {
    font-size: 60pt;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.other, .condiments, .seasoning, .fats, .protein, .grains, .vegetables, .fruits, .dairy {
    display: inline-block;
    margin-right: 10px;
    color: white;
}

.dairy {
    background-color: rgb(8, 91, 199);
}

.fruits {
    background-color: rgb(206, 4, 121);
}

.vegetables {
    background-color: rgb(47, 88, 6);
}

.grains {
    background-color: rgb(116, 111, 47);
}

.protein {
    background-color: sienna;
}

.fats {
    background-color: slateblue;
}

.seasoning {
    background-color: sandybrown;
}

.condiments {
    background-color: rgb(185, 109, 42);
    -webkit-text-stroke: .5px sienna;
}

.other {
    background-color: slategray;
}



.recipe-card {
    background-color: rgb(92, 14, 34);
    color: white;
    border-radius: 20px;
    padding: 10px;

    margin-top: 20px;
    
    width: fit-content;
}